.THIS .slds-form-element__label{
    
    font-weight: bold;
    color:Black;
    font-size: 12px;
    line-height: 1.5;
    margin-right: 12px;
    margin-left: 11px;
    margin-bottom: 5px;
    display: inline-block;
    
}

.THIS .uiValue{
    font-size: 13px; 
 
}
.THIS .slds-form-element__static{
    margin-left: 10px;
}