.THIS.rowDisplayCard .slds-card__header,
.THIS.rowDisplayCard .slds-card__header:after{
    background-color:#f3f2f2 !important;
    background-clip: padding-box;
}

.THIS.rowDisplayCard .slds-card__header {
    padding: 0.5rem 0.75rem 12px !important;
    margin: 0 0 .5rem;
}
.THIS .slds-spinner_container {
    position:fixed !important;
    background-color: rgba(0, 0, 0, 0.10) !important;
    z-index: 1000000 !important;
}