.slds-radio {
    display: inline-block !important;
}

.dec {
    float: right;
}

.totalLine {
    font-weight: bold;
}

.separator {
    font-weight: bold;
}

.green {
    font-weight: bold;
    color: #2e844a;
}