.slds-radio {
    display: inline-block !important;
}

.dec {
    float: right;
}

.totalLine {
    font-weight: bold;
}

.separator {
    font-weight: bold;
}

.green {
    font-weight: bold;
    color: #2e844a;
}

.slds-table_sticky-header thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}