.THIS .dateWidth{
    /*width : 90%!important;*/
}
.THIS .imgAction1{
    max-width:25px!important;
    max-height:25px!important;
    margin-left:5px!important;
}
.THIS .imgAction2{
    max-width:25px!important;
    max-height:25px!important;
    margin-left:10px!important;
}