.THIS .imgAction2{
    border-radius: 50%;
    line-height: 1;
    max-width: 1.5rem!important;
    max-height: 2rem!important;
    background-color: steelblue !important;
}
.THIS .imgAction1{
    border-radius: 50%;
    line-height: 1;
    max-width: 1.5rem!important;
    max-height: 2rem!important;
    background-color: #f97a7a !important;
}

.THIS .slds-table thead th .slds-truncate {
    padding: 4px !important;
    white-space: normal !important;
    overflow: visible;
}

.THIS .slds-table thead th  {
    width: 7rem;
    padding-top: 8px;
    padding-bottom: 12px;
    white-space: pre-wrap;
}

.THIS .slds-card__footer{
    padding:;
    margin-top : ;
}
.THIS .hr{
    margin : ;
}
.THIS .link_dis{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.THIS .slds-p-around_small{
    padding: 0.45rem !IMPORTANT;
}
.THIS .slds-checkbox_faux:after {
    border-color:#006dcc !important;
}
.THIS .thead-light th {
    border: 1px solid #055E89 !important;
}
.THIS .far{
    font-size: 1rem !important;
    cursor:pointer;
}
.THIS .fas {
    font-size: 1rem !important;
    cursor:pointer;
    padding-top:1rem;
}
.THIS .container-table{
    padding:1rem;
}
.THIS table{
    font-size: 0.875rem !important;
}
.THIS .wrap {
    white-space:pre-line !important;
    word-break: break-word;
}
.THIS .card-body{
    font-size:0.875rem !important;
}
.THIS header{
    height:75px !important;
}
.THIS cardBody{
    padding:0.25 !important;
}
.THIS thead{
    white-space: normal !important;
}
.THIS abbr[title] {
    text-decoration: none !important;
}
.THIS input[type=text] {
    padding: 0.50rem 1.5rem !important;
}
.THIS .uiInput--select{
    height: calc(1em + 1.5rem + 2px) !important;
}

.THIS .select:not([multiple]){
    height: calc(1em + 1.5rem + 2px)  !important;
    padding-top: 5px;
}
.THIS .expCls .slds-input{
    min-height: calc(2.75rem + (1px * 2)) !important;
}
@media(max-width:48em){
    .THIS .uiInput--textarea{
        margin-top: 1rem !important;
        margin-bottom: 1.5rem !important;
    }
    .THIS .uiInput--select{
        margin-top: 1rem !important;
        margin-bottom: 1.5rem !important;
    }
    
}
.THIS .dateCls .slds-button_icon,.THIS .dateCls .slds-form-element__icon{
    display:none !important;
}
.THIS .presentCls .slds-input{
    background-color:white !important;
    cursor:pointer !important;
}
.THIS .presentCls .slds-form-element__label{
    display:none !important;
}
.THIS .hideFooterCls {
    display:none !important;
}
.THIS .nav-tabs{
    display: inline-flex !important;
}